.container {
    max-width: 60%;
    margin: 0 auto;
}

.content {
    align-items: flex-start;
    padding-left: 32px;
}

.title {
    font-size: 30px;
    margin-top: 12px;
}

.cursor-pointer {
    cursor: pointer;
}
